@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import '../../../colors.scss';
@import '../../../utility.scss';
@import '../../../typography.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}